@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/RobotoThin.woff.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoLight.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/RobotoMedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoBold.woff") format("woff");
}

::-moz-selection {
  background-color: #FFD600;
  color: #fff;
}

::selection {
  background-color: #FFD600;
  color: #fff;
}

select:focus,
select:hover,
option:hover,
option:focus,
.form-control:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
  border: transparent;
}

select[disabled] {
  cursor: not-allowed;
}

label, a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button:focus, a:focus,
* [role="button"]:focus,
input:focus, textarea:focus {
  outline: none;
}

button {
  border: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  line-height: 1.6;
  background-color: #ccc;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus,
input[type="number"]:hover {
  -moz-appearance: number-input;
}

ul, ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .container {
    overflow: hidden;
  }
  .header .container {
    overflow: visible;
  }
}

.img-resp {
  display: block;
  max-width: 100%;
  height: auto;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

b, strong {
  font-weight: 700;
}

.container-fluid {
  max-width: 1660px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
  border-radius: 10em;
  padding: 12px 35px;
  margin-bottom: 20px;
  background-color: #FFD600;
  color: #000;
  font-size: 18px;
}

a {
  -webkit-transition: .25s all;
  transition: .25s all;
}

a:hover {
  text-decoration: none;
  color: #FFD600;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #e57373;
  opacity: 1;
}

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #e57373;
  opacity: 1;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #e57373;
  opacity: 1;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #e57373;
  opacity: 1;
}

.form input::placeholder, .form textarea::placeholder {
  color: #e57373;
  opacity: 1;
}

.form input:valid, .form input:focus:valid, .form input:focus:required:valid, .form input:invalid, .form textarea:valid, .form textarea:focus:valid, .form textarea:focus:required:valid, .form textarea:invalid {
  border-color: #222;
  color: #222;
  box-shadow: none;
}

.form input:focus:invalid, .form input:focus:required:invalid, .form textarea:focus:invalid, .form textarea:focus:required:invalid {
  box-shadow: none;
  border-color: #e57373;
  color: #222;
}

.form {
  max-width: 730px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.form input, .form textarea {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #fff;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #333;
  opacity: 1;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.form input::placeholder, .form textarea::placeholder {
  color: #333;
  opacity: 1;
}

.form input:focus, .form textarea:focus {
  background-color: #f7f7f7;
}

.form textarea {
  resize: vertical;
  height: calc(100% - 30px);
}

.form small {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2em;
  display: block;
}

.form small a {
  text-decoration: underline;
}

.form__title {
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.3em;
  font-size: 24px;
}

.header-swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fafafa;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#main-modal {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.fancybox-bg {
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-content {
  overflow-x: hidden;
}

.fancybox-slide--html .fancybox-close-small {
  color: #222;
}

.fancybox-lock {
  overflow: hidden;
  margin-right: 0 !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
  overflow-y: hidden;
}

body.compensate-for-scrollbar {
  overflow-y: auto;
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}

.hamburger {
  padding: 5px 0 0 0;
  margin: 30px 0 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*# sourceMappingURL=main.css.map */
