<footer class="footer">
    footer
</footer>

<button class="hamburger" type="button"><span></span><span></span></button>

<a data-src="#popupForm" data-fancybox data-type="inline" class="btn btn-accent" href="javascript:void(0);">
    Оставить заявку
</a>

<div class="swiper-container__wrapper">
    <div class="swiper-container swiper-container--1x">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination--1x"></div>
    <div class="swiper-buttons">
        <div class="swiper-button-prev swiper-button-prev--1x"></div>
        <div class="swiper-button-next swiper-button-next--1x"></div>
    </div>
</div><!-- / slider -->

<div class="popup" id="popupForm" style="display: none;">
    <form class="">
        <div class="form__title">Оставьте заявку и мы вам перезвоним</div>
        <input type="text" inputmode="text" name="Имя" placeholder="Имя">
        <input type="tel" inputmode="tel" name="Телефон" placeholder="Телефон">
        <input type="email" inputmode="email" name="E-mail" placeholder="E-mail*" required>
        <textarea name="Собщение" placeholder="Собщение"></textarea>

        <button type="submit" class="btn">Отправить</button>

        <input type="hidden" name="admin_email" value="rlytrue@gmail.com">
        <!-- <input type="hidden" name="project_name" value="<?php /* bloginfo('name'); */ ?>"> -->
        <!-- <input type="hidden" name="admin_email" value="<?php /* bloginfo('admin_email'); */ ?>"> -->
        <!-- <input type="hidden" name="form_subject" value="Форма со страницы <?php /* echo 'https://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']; */ ?>"> -->
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./assets/js/libs.min.js"></script>
<script src="./assets/js/app.js" type="module"></script>
<link rel="stylesheet" href="./assets/css/footer.css">

</div>

</body>

</html>