<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SiteName</title>
    <meta name="description" content="Описание">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="preload" href="./assets/fonts/CeraProLight.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <link rel="icon" href="./assets/img/favicon.ico">

    <meta name="theme-color" content="#812b90">
    <meta name="msapplication-navbutton-color" content="#812b90">
    <meta name="apple-mobile-web-app-status-bar-style" content="#812b90">

    <link rel="stylesheet" href="./assets/css/libs.min.css">
    <link rel="stylesheet" href="./assets/css/header.css">
    <link rel="stylesheet" href="./assets/css/home.css">

    <script src="./assets/js/swiper-bundle-6_2_0.min.js"></script>
</head>

<header class="header">
    header
</header>

<body>

    <div class="wrapper">