@import "vars"
#main-modal
    border-radius: 15px
    box-shadow: 0 0 20px rgba(0,0,0,.3)

// fancybox overlay
.fancybox-bg
    background: rgba(0,0,0,.8)

.fancybox-content
    overflow-x: hidden

.fancybox-slide--html .fancybox-close-small
    color: #222

.fancybox-lock
    overflow: hidden
    margin-right:0 !important

.fancybox-lock .fancybox-overlay
    overflow: hidden
    overflow-y: hidden

body.compensate-for-scrollbar
    overflow-y: auto

.compensate-for-scrollbar
    margin-right: 0!important
