/*
100 Thin
200 Extra Light
300 Light
400 Regular / Normal
500 Medium;
600 Semibold / Demibold
700 Bold
800 Heavy / Extra Bold
900 Black
*/

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MontserratRegular.woff2") format("woff2");
}