/* Hamburger button menu */

.hamburger {
    --width: 34px;
    --humb-line-height: 5px;
    --border-radius: 0px;
    --height: 25px;
    position: relative;
    display: block;
    width: var(--width);
    height: var(--height);
    background: transparent;
    border: none;
    transition: 0.25s ease-in-out;
    outline: none;
    z-index: 2;
    cursor: pointer;
    transform: rotate(0deg);
    padding: 0;
}

@media only screen and (min-width: 992.1px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    display: block;
    position: absolute;
    height: var(--humb-line-height);
    width: var(--width);
    background: #d3531a;
    border-radius: var(--border-radius);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    pointer-events: none;
}

.hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.hamburger span:nth-child(2) {
    top: calc((var(--height) / 2) - var(--humb-line-height) / 2);
    transform-origin: left center;
}

.hamburger span:nth-child(3) {
    top: calc(var(--height) - var(--humb-line-height));
    transform-origin: left center;
}

/* active */

.hamburger.is-active span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px;
    left: 5px;
}

.hamburger.is-active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 4px;
}