/* Hamburger button menu */

.hamburger {
    --width: 30px;
    --humb-line-height: 4px;
    --border-radius: 4px;
    position: relative;
    display: block;
    width: var(--width);
    height: 24px;
    background: transparent;
    border: none;
    transition: 0.25s ease-in-out;
    outline: none;
    z-index: 2;
}

@media only screen and (min-width: 992.1px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    display: block;
    position: absolute;
    right: 0;
    background-color: currentColor;
    border-radius: var(--border-radius);
    height: var(--humb-line-height);
}

.is-active span {
    display: none;
}

.hamburger span:nth-child(1) {
    width: var(--width);
    top: 0;
}

.hamburger span:nth-child(2) {
    width: var(--width);
    bottom: 0;
}

.hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.25s ease-in-out;
    background: currentColor;
    border-radius: var(--border-radius);
    height: var(--humb-line-height);
}

.hamburger.is-active::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.is-active::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}